body {
<<<<<<< HEAD
  /* background-color: #ecf0f1; */
  background: #ec008c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

=======
  background: #171717;
  height: calc(100vh - 60px);
>>>>>>> 21c00fc5d3dc43bf35d8ccb43314b3f3d09bd0c9
}

#contentWrap {
  display: none;
}

.chat {
  height: 35rem;
  overflow-y: scroll;
}

.error {
  color: red;
}

.whisper {
  color: gray;
  font-style: italic;
}
